
	<div class="container">
	  <div class="row">
	    <div class="col-lg-8">
	      <header>
	        <h1><a href="/" class="page-title">Matt Lambert</a></h1>
	      </header>
	    </div>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-lg-8">
	      <div class="feature">
	      	<h2>About</h2>
	      	<p>Hi, my name's Matt Lambert and I've been working as a designer and developer for 18+ years. During the day I work for <a href="http://stellar.aero">Stellar Labs</a> as a Senior UX Designer in Vancouver. In my free time I'm an author, <a href="http://cardeo.dunked.com">artist</a> and <a href="http://oneyedjacks.bandcamp.com">musician</a>. I really hate writing bios so if you'd like to learn more about my skills, please check out my <a href="https://ca.linkedin.com/in/mattlambertvancouver">Linkedin</a> profile. Oh, I also write stuff on <a href="https://medium.com/@mlambert">Medium</a>.</p>
		      <p><img src="images/matt-lambert.jpg" width="600" height="331" alt="Matt Lambert"></p>
	      </div>
	      <div class="feature">
	      	<h2>Books</h2>
	        <p>
	          <a href="https://www.packtpub.com/web-development/learning-bootstrap-4-second-edition">Learning Bootstrap 4</a><br>
	          Learn what's new in Bootstrap 4.
	        </p>
	      	<p>
	      		<a href="http://masteringbootstrap.com">Mastering Bootstrap 3</a><br>
	      		The complete guide to creating Bootstrap 3 themes.
	      	</p>
	      	<p>
	      		<a href="https://www.packtpub.com/web-development/bootstrap-site-blueprints-volume-ii">Bootstrap Site Blueprints II</a><br>
	      		A real-world collection of projects built with Bootstrap.
	      	</p>
	      	<p>
	      		<a href="http://mattlambert.ca/freelance">Freelance Startup Guide</a><br>
	      		Learn to launch your own freelance business.
	      	</p>
	      	<p>
	      		<a href="http://mattlambert.ca/css3-handbook/">CSS3 Handbook</a><br />
	      		Everything you need to know about CSS3.
	      	</p>
	      </div>

		    <div class="row">
		      <div class="col-lg-6">
		      	<h2>Follow On</h2>
		      	<ul class="list-unstyled">
							<li><a href="http://twitter.com/cardeo">Twitter</a></li>
	            <li><a href="https://medium.com/@mlambert">Medium</a></li>
							<li><a href="http://github.com/cardeo">Github</a></li>
							<li><a href="http://dribbble.com/cardeo">Dribbble</a></li>
			        <li><a href="https://ca.linkedin.com/in/mattlambertvancouver">Linkedin</a></li>
							<li><a href="http://instagram.com/cardeo">Instagram</a></li>
						</ul>
					</div>
					<div class="col-lg-6">
						<h2>Featured On</h2>
						<ul class="list-unstyled">
							<li><a href="http://creativemarket.com/cardeo?u=cardeo">CreativeMarket</a></li>
							<li><a href="http://graphicriver.net/user/cardeo/portfolio?ref=cardeo">GraphicRiver</a></li>
							<li><a href="http://society6.com/cardeo">Society6</a></li>
							<li><a href="http://www.saatchionline.com/cardeo">Saatchi</a></li>
							<li><a href="http://fineartamerica.com/profiles/1-matt-lambert.html">FineArtAmerica</a></li>
							<li><a href="https://www.artfinder.com/cardeo">ArtFinder</a></li>
						</ul>
					</div>
	      </div>
	      <div class="feature">
	      	<h2>Contact</h2>
	        <p>If you need to get in contact to talk about anything design, development, Star Wars, or Guns n' Roses related, please hit me up on <a href="http://twitter.com/cardeo">Twitter</a>.</p>
	      </div>
	    </div>
	  </div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 footer">
					<ul class="list-inline">
						<li><a href="/">Home</a></li>
	          <li><a href="https://creativemarket.com/cardeo?u=cardeo">Shop</a></li>
						<li>&copy; 2018 Matt Lambert</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


